<!DOCTYPE html>
<html>


<body >
  {% include nav.html %}
  {% include header.html %}
  {% include portfolio_grid.html %}
  {% include about.html %}

 <p> Information we collect
Contact information. We might collect yourname, email, mobile number, phone number, street, city, state, pin code, country and IP address.

Information you post. We collect information you post in a public space on our website.

Other information. If you use our website, we may collect information about your IP address and the browser you're using. We might look at what site you came from, duration of time spent on our website, pages accessed or what site you visit when you leave us. We might also collect the type of mobile device you are using, or the version of the operating system your computer or device is running.

We collect information in different ways.
We collect information directly from you. We collect information directly from you when you fill your information in our website form.

Use of your personal information
We use information to contact you: We might use the information you provide to contact you for confirmation of a purchase on our website or for other promotional purposes.

We use information to improve our products and services. We might use your information to customize your experience with us. This could include displaying content based upon your preferences.

We use information to look at site trends and customer interests. We may use your information to make our website and products better.

We use information for security purposes. We may use information to protect our company, our customers, or our websites.

We use information for marketing purposes. We might send you information about special promotions or offers. We might also tell you about new features or products. These might be our own offers or products, or third-party offers or products we think you might find interesting.

We use information as otherwise permitted by law.

Sharing of information with third-parties
We will share information with third parties who perform services on our behalf. We share information with vendors who help us manage our customer relationship management.

We will share information with the developer. We share your information with developer(s) and other parties responsible for fulfilling the purchase obligation. The developer(s) and other parties may use the information we give them as described in their privacy policies.

We will share information with our sister concerns. This includes our sister concern to use the information we give them as described in their privacy policies.

We may share information if we think we have to in order to comply with the law or to protect ourselves. We will share information to respond to a court order or subpoena. We may also share it if a government agency or investigatory body requests. Or, we might also share information when we are investigating potential fraud.

We may share information with any successor to all or part of our business. For example, if part of our business is sold, we may give our customer list as part of that transaction.

We may share your information for reasons not described in this policy. We will tell you before we do this.

Updates to this policy
This Privacy Policy was last updated on 02.07.2022. From time to time we may change our privacy practices without prior notifications to this policy as required by law. Please check our site periodically for updates.

Jurisdiction
If you choose to visit the website, your visit and any dispute over privacy is subject to this Policy and the website's terms of use. In addition to the foregoing, any disputes arising under this Policy shall be governed by the laws of India.


Disclaimer:
Specifications and amenities mentioned in this website are only representational and informative. Information, images and visuals, drawings plans or sketches shown in this website are only an architect's impression and are only indicative of the envisaged developments and the same are subject to approvals from local authorities. The Developer/Promoter reserves rights to make additions, deletions, alterations or amendments as and when it deems fit and proper, without any prior notice. No representation or warranty is made or intended as to the accuracy or completeness of information and no commitments are being given under this website as to its suitability or adequacy for any purpose or otherwise howsoever.

All dimensions mentioned in the drawings may vary/differ due to construction contingencies and site conditions. Actual product / development and any other aspect may differ from what is portrayed herein. All layouts, plans, specifications, dimensions, designs, measurements and locations are indicative and not to scale and are subject to change as may be decided by the company or competent authority. Revision, alteration, modification, addition, deletion, substitution or recast, if any, may be necessary during construction.

Interior designing used in the flat/unit plan and images are only for representation purpose. The picture of the proposed Residential Flat/Unit and all furniture's, fixtures, items, electronic goods, amenities, landscaping, accessories etc. specified therein are only for the purpose of show casing the Residential Flat/Unit and the Developer is not liable / required to provide any furniture, items, electronic goods amenities, accessories etc. as displayed in the pictures. The Recreational Facilities and amenities will form a part of Developer/Promoter’s retained area and will not form a part of common amenities and facilities.

The views shown in the picture may vary over period of time and does not guarantee the same. All intending purchaser/s are bound to inspect all plans and approvals and visit project site and apprise themselves of all plans and approvals and other relevant information and nothing in this website is intended to substitute to the intending purchaser the actual plans and approvals obtained from time to time. The relationship between the Developer and the actual customers will be governed strictly by the agreements to be executed from time to time and not on the terms of this website. All details and prices quoted are indicative and have been calculated on basic rate.

This website is merely conceptual and is not a legal document. It cannot be treated as a part of the final purchase agreement/s that may be executed from time to time. The Developer reserves right to change, amend, modify the contents of the brochure and architectural specifications during development stages. The Developer/Management holds no responsibility for its accuracy and shall not be liable to any intending purchaser or any one for the changes/ alterations/ improvements so made.</p>
</body>

</html>
