<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>NVM Homes is a real estate company that specializes in the development of residential properties in Navi Mumbai</p>
      </div>
      <div class="col-lg-4">
        <p>Navi Mumbai is one of the most rapidly growing cities in India and has seen a significant increase in demand for high-quality housing. NVM Homes has been established to meet this demand by providing its customers with quality homes at affordable prices.</p>
        <p>The company was founded in 2018 by Mahesh Shetty, who has over 20 years of experience in the real estate industry. It operates out of Ulwe, which is one of Navi Mumbai's fastest growing neighborhoods.
</p>
     </div> 
    </div>
  </div>
</section>
